<!DOCTYPE HTML>
<html lang="en">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
<div class="card mx-auto">
  <div class="card-body">
    <h2 class="card-title text-center">ADD CLASS</h2>
    <form method="POST" action="create-classes.php">
  <div class="mb-3">
    <label for="fullname" class="form-label">Course Name</label>
    <input type="fullname" class="form-control" id="fullname" name="name" required>
  </div>
  <div class="mb-3">
    <label for="code" class="form-label">Code</label>
    <input type="text" class="form-control" id="code" name="code" required>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" name="description" required></textarea>
  </div>
  <div class="mb-3">
    <label for="teacher_id" class="form-label">Teacher</label>
    <select class="form-select" aria-label="Default select example" name="teacher_id" required>
      <option selected>Choose...</option>
      {{# teachers }}
      <option value= {{ employee_number }}>{{ name }}</option>
      {{/ teachers }}
    </select>
  </div>
  <row>
   <col>
  <div class="text-center">
  <button type="submit" name="SubmitButton" class="btn btn-primary">Add class</button>
  </form>
  </col>
  <col>
<button formaction="list-classes.php" class="btn btn-primary">Cancel</button>
  </col>
  </div>
  </row>
  </div>
</div>
</body>
<style>

* {
        font-family: 'Poppins';
    }

  body {
    background-image: url('../resources/background.png');
    background-size: cover;
  }
  .card {
    background-color:  #ffe4d1 ;
    width: 30rem; 
    border-radius: 15px; 
    margin-top: 5%;
  }

  .card-title {
    background-color: #EF7F59; 
    color: white;
    border-radius: 15px;
    font-weight: 600;
  }
  .btn {
    border-radius: 15px;
    background-color: #EF7F59;
    border: #ff8970 ;
  }

  .btn:hover {
    background-color:  #ff8970;
  }

  textarea {
  resize: none;
}
</style>
</html>
