<!DOCTYPE HTML>
<html lang="en">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
<div class="card mx-auto">
  <div class="card-body">
    <h2 class="card-title text-center">UPDATE ROSTER</h2>
  <!-- Start of the form !-->
    <form method="POST" action="update-roster.php">
    <input type="hidden" name="id" value="{{ rosters.id }}"/>
  <div class="mb-3">
    <label for="code" class="form-label">Class Code</label>
     <select class="form-select" aria-label="Default select example" name="code" required>
      <option selected>{{ rosters.class_code }}
      {{# classes }}
      <option value="{{ code }}">
      {{ code }}
      {{/ classes }}</option></select>
  </div>
  <div class="mb-3">
    <label for="student_number" class="form-label">Student Number</label>
     <input readonly type="text" class="form-control" id="fullname" name="student_number" value={{rosters.student_number}}>
  </div>
  <div class="text-center">
  <button type="submit" name="SubmitButton" class="btn btn-primary">Update roster</button>
  </form>
  </div>
  </div>
  </body>
  <style>
  * {
        font-family: 'Poppins';
    }

  body {
    background-image: url('../resources/background.png');
    background-size: cover;
  }
  .card {
    background-color:  #F8E79F ;
    width: 30rem; 
    border-radius: 15px; 
    margin-top: 10%;
  }

  .card-title {
    background-color: #F6B737; 
    color: white;
    border-radius: 15px;
    font-weight: 600;
  }
  .btn {
    border-radius: 15px;
    background-color: #F6B737;
    border: #ff8970 ;
  }

  .btn:hover {
    background-color:  #D89A1B;
  }
  </style>
  <script>
  </script>
  </html>